@media (max-width: 600px) {}

@media (min-width: 601px) and (max-width: 1024px) {}

@media (min-width: 1025px) {
    body {
        background-color: lightcoral;
    }
}

.img-logo {
    width: 100px;
    border-radius: 34px;
}

.text-logo {
    align-items: center;
    font-family: 'Nerko One';
    font-size: 80px;
    color: rgb(255, 137, 157);
    margin-top: 10px;
}

.div-logo {
    display: flex;
    justify-content: space-around;
    width: 455px;
    height: 100px;
}

@media (min-width: 1024px) {
    .header {
        align-items: center;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }
}



.icon-button {
    border-radius: 10px;
    border: 2px solid rgb(255, 141, 160);
    background-color: pink;
    width: 100px;
    height: 40px;
}

.icon-img {
    width: 30px;
}